body {
  background-color: black;
}

.carousel-container {
  display: flex;
  background-color: green;
  color: white;
  overflow-x: hidden;
  margin-top: 150px;
  padding: 10px;
  width: 70vw;
  margin-left: 15%;
}

.carousel-item {
  list-style: none;
  z-index: 1;
  padding: 5px;
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}

.button--prev,
.button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  border: 1px solid black;
}
.button--prev {
  left: 20px;
}
.button--next {
  right: 20px;
}
.button--prev::after,
.button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 55%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.button--next::after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
