.carousel-wrapper {
  overflow: hidden;
  width: 90%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel-container {
  transform-style: preserve-3d;
}

.slide {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.slide.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.slide.prev,
.slide.next {
  z-index: 800;
}

.slide.prev {
  transform: translateX(-100%);
}

.slide.next {
  transform: translateX(100%);
}

.button--prev,
.button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1001;
  border: 1px solid black;
}

.button--prev {
  left: 0;
}

.button--next {
  right: 0;
}

.button--prev::after,
.button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 55%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.button--next::after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
